body {
}

#app {
}

.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    background-color: white;
    height: 30px;
    width: 50%;
    margin-left: 25%;
}

.nav-bar-elems {
    display: flex;
    justify-content: space-around;
}
